/* External CSS: Mengatur gaya elemen HTML dari file CSS terpisah */

/* Gaya untuk elemen h1 */
h1 {
    color: orange; /* Mengubah warna teks h1 menjadi oranye */
    text-align: center; /* Menyusun teks h1 ke tengah */
}

/* Gaya untuk elemen p */
p {
    font-size: 18px; /* Mengubah ukuran font untuk semua paragraf */
    color: darkblue; /* Mengubah warna teks paragraf menjadi biru tua */
}
